.full-width {
  width: 100%;
  margin-bottom: 8px;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.half-width {
  flex: 1;
  margin-bottom: 8px;
}

mat-dialog-content {
  padding-top: 16px !important;
}

.ai-description-container {
  position: relative;
  width: 100%;
}

.ai-btn {
  position: absolute;
  bottom: 24px;
  right: 12px;
  background-color: white;
  border-radius: 20px;
}
